* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
}


.logo-bereich {
    display: flex;
    align-items: center;
    gap: 15px;
}

.firma_logo {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none; 
}

.head {
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;
}

.main-nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.main-nav ul li {
    cursor: pointer;
}

.main-nav ul li:hover {
    color: #ffce00;
}

.main-footer {
    background-color: #333;
    color: white;
    padding: 2rem;
    text-align: center;
    margin-top: 20px;
}

.main-footer a {
    color: white;
    text-decoration: none;
}

.main-footer a:hover {
    text-decoration: underline;
}